n8n/workflows/master-message-handler.json
{
  "name": "VyaOps — Master Message Handler",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "node-01-webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "vyaops-whatsapp-handler",
      "parameters": {
        "path": "whatsapp-message",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "notes": "Receives forwarded POST from /api/webhooks/whatsapp.\nPayload for customer messages: { messageType: 'customer_text'|'button_reply'|'list_reply', message, chatPhone, orgId, messageId, customerId? }\nPayload for owner echoes: { messageType: 'owner_echo', message, chatPhone, orgId, messageId, isCommand }"
    },

    {
      "id": "node-02-router",
      "name": "Message Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 300],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Customer Message",
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "id": "r0c0",
                    "leftValue": "={{ $json.body.messageType }}",
                    "rightValue": "customer_text",
                    "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" }
                  },
                  {
                    "id": "r0c1",
                    "leftValue": "={{ $json.body.messageType }}",
                    "rightValue": "button_reply",
                    "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" }
                  },
                  {
                    "id": "r0c2",
                    "leftValue": "={{ $json.body.messageType }}",
                    "rightValue": "list_reply",
                    "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true
            },
            {
              "outputKey": "Owner Echo",
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "id": "r1c0",
                    "leftValue": "={{ $json.body.messageType }}",
                    "rightValue": "owner_echo",
                    "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "notes": "Routes customer messages and owner echoes to /api/whatsapp/flow. Everything else goes to Log Only."
    },

    {
      "id": "node-03-customer-flow",
      "name": "Customer Flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 150],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/whatsapp/flow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messageType: $json.body.messageType, message: $json.body.message, chatPhone: $json.body.chatPhone, orgId: $json.body.orgId, messageId: $json.body.messageId, customerId: $json.body.customerId ?? null }) }}",
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 1000 },
          "timeout": 30000
        }
      },
      "notes": "Calls /api/whatsapp/flow for customer messages (customer_text, button_reply, list_reply)."
    },

    {
      "id": "node-04-owner-echo-flow",
      "name": "Owner Echo Flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/whatsapp/flow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messageType: 'owner_echo', message: $json.body.message, chatPhone: $json.body.chatPhone, orgId: $json.body.orgId, messageId: $json.body.messageId, isCommand: $json.body.isCommand ?? false }) }}",
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 1000 },
          "timeout": 30000
        }
      },
      "notes": "Calls /api/whatsapp/flow for owner echoes. isCommand=true for slash commands."
    },

    {
      "id": "node-05-log-intent",
      "name": "Log Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 450],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/analytics/log-intent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ orgId: $json.body.orgId, chatPhone: $json.body.chatPhone, message: $json.body.message, messageType: $json.body.messageType, timestamp: new Date().toISOString() }) }}",
        "options": {
          "retry": { "enabled": true, "maxTries": 2, "waitBetweenTries": 1000 }
        }
      },
      "notes": "Analytics only for unrecognised messageType values (delivery status events, etc). No WhatsApp reply ever — Rule A."
    },

    {
      "id": "node-19-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 700],
      "parameters": {},
      "notes": "Configure: set this workflow as the error workflow for itself in Settings > Error Workflow"
    },

    {
      "id": "node-20-log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 700],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/errors/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'n8n_master_handler', error: $json.error?.message, workflow: $json.workflow?.name, node: $json.execution?.lastNodeExecuted, executionId: $json.execution?.id, timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "notes": "Logs error to Sentry via /api/errors/log. NEVER sends a message to the customer chat (Rule A)."
    }
  ],

  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [{ "node": "Message Router", "type": "main", "index": 0 }]
      ]
    },
    "Message Router": {
      "main": [
        [{ "node": "Customer Flow", "type": "main", "index": 0 }],
        [{ "node": "Owner Echo Flow", "type": "main", "index": 0 }],
        [{ "node": "Log Only", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "vyaops-master-message-handler",
  "tags": [
    { "id": "vyaops", "name": "vyaops" },
    { "id": "whatsapp", "name": "whatsapp" }
  ],
  "pinData": {}
}
