n8n/workflows/payment-reminder.json
{
  "name": "VyaOps — Payment Reminder",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "node-01-cron",
      "name": "Daily 10AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 10 * * *"
            }
          ]
        }
      },
      "notes": "Runs daily at 10:00. Workflow timezone is set to Asia/Kolkata in Settings, so this fires at 10:00 IST."
    },

    {
      "id": "node-02-fetch-overdue",
      "name": "Fetch Overdue Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.APP_URL }}/api/invoices/overdue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 2000 },
          "timeout": 30000
        }
      },
      "notes": "GET /api/invoices/overdue (internal auth). Returns { invoices: [...], meta } of overdue, still-unpaid invoices ACROSS ALL ORGS. The endpoint already computes days_overdue, the reminder tier + template_name, the template_params, and excludes invoices reminded today (IST) and those with no customer phone."
    },

    {
      "id": "node-03-split",
      "name": "Split Into Invoices",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "fieldToSplitOut": "invoices",
        "options": {}
      },
      "notes": "Fans the invoices array out to one item per overdue invoice for per-invoice processing. This is the last node whose OUTPUT carries full invoice fields and is 1:1 with the source (no filtering), so downstream nodes reference it by name for item-stable lineage."
    },

    {
      "id": "node-04-eligible-guard",
      "name": "Not Reminded Today",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c0",
              "leftValue": "={{ $json.reminded_today }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "false", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "notes": "Defense-in-depth guard for the 'max 1 reminder per invoice per day' rule. The endpoint already filters these out; this ensures it even if include_reminded=true is ever passed. Tiering itself is computed server-side and arrives on each item as reminder_tier + template_name."
    },

    {
      "id": "node-05-send",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/whatsapp/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.customer_phone, type: 'template', orgId: $json.organization_id, template: { name: $json.template_name, language: { code: $json.language_code }, components: [ { type: 'body', parameters: $json.template_params.map(p => ({ type: 'text', text: p })) } ] } }) }}",
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 2000 },
          "timeout": 30000
        }
      },
      "notes": "POST /api/whatsapp/send (internal auth) → Meta Cloud API. Builds the tier-specific payment_reminder template body. template_params order: customer, invoice number, amount, days overdue ({{1}}..{{4}})."
    },

    {
      "id": "node-06-record",
      "name": "Record Reminder Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ /* invoice id from Split (not the Filter): Split is the last 1:1, un-filtered output, so its paired-item lineage stays index-stable; the Filter drops items and is a fragile ref target */ $env.APP_URL }}/api/invoices/{{ $('Split Into Invoices').item.json.id }}/reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /* message_id comes from the immediately-preceding Send response ($json); the HTTP node strips invoice fields, so reminder_tier is read from Split, the last node that still carried it. Route derives org from the invoice PK — no orgId sent. */ JSON.stringify({ message_id: $json.messageId, reminder_tier: $('Split Into Invoices').item.json.reminder_tier }) }}",
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 2000 },
          "timeout": 30000
        }
      },
      "notes": "POST /api/invoices/[id]/reminder (internal auth). Stamps last_reminder_at = now() and bumps reminder_count so the same invoice is not reminded again today. The Send node returns only { sent, messageId }, so invoice fields (id, reminder_tier) are read from $('Split Into Invoices').item — Split is the last un-filtered 1:1 node, giving stable paired-item lineage; messageId is read from the immediately-preceding Send response."
    },

    {
      "id": "node-07-log",
      "name": "Log Reminder Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1680, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/analytics/log-intent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /* the preceding Record node returns only { data: { reminder_count... } }, so invoice fields are read from Split — the last un-filtered 1:1 node — for index-stable paired-item lineage (the Filter drops items and is a fragile ref target) */ JSON.stringify({ orgId: $('Split Into Invoices').item.json.organization_id, chatPhone: $('Split Into Invoices').item.json.customer_phone, messageType: 'payment_reminder_sent', intent: $('Split Into Invoices').item.json.reminder_tier, timestamp: new Date().toISOString() }) }}",
        "options": {
          "retry": { "enabled": true, "maxTries": 2, "waitBetweenTries": 1000 }
        }
      },
      "notes": "POST /api/analytics/log-intent (internal auth) → PostHog. Privacy-safe: orgId + masked phone + tier only, never amounts or raw content (CLAUDE.md security rule #8). Reads invoice fields from $('Split Into Invoices').item (last un-filtered 1:1 node), not the Record node's response which strips them."
    },

    {
      "id": "node-08-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 620],
      "parameters": {},
      "notes": "Set this workflow as its own Error Workflow in Settings > Error Workflow."
    },

    {
      "id": "node-09-log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 620],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/errors/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'n8n_payment_reminder', error: $json.error?.message, workflow: $json.workflow?.name, node: $json.execution?.lastNodeExecuted, executionId: $json.execution?.id, timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "notes": "Logs failures to Sentry via /api/errors/log. Never messages a customer chat."
    }
  ],

  "connections": {
    "Daily 10AM IST": {
      "main": [[{ "node": "Fetch Overdue Invoices", "type": "main", "index": 0 }]]
    },
    "Fetch Overdue Invoices": {
      "main": [[{ "node": "Split Into Invoices", "type": "main", "index": 0 }]]
    },
    "Split Into Invoices": {
      "main": [[{ "node": "Not Reminded Today", "type": "main", "index": 0 }]]
    },
    "Not Reminded Today": {
      "main": [[{ "node": "Send WhatsApp Reminder", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp Reminder": {
      "main": [[{ "node": "Record Reminder Sent", "type": "main", "index": 0 }]]
    },
    "Record Reminder Sent": {
      "main": [[{ "node": "Log Reminder Activity", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Log Error", "type": "main", "index": 0 }]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "vyaops-payment-reminder",
  "tags": [
    { "id": "vyaops", "name": "vyaops" },
    { "id": "invoices", "name": "invoices" },
    { "id": "cron", "name": "cron" }
  ],
  "pinData": {}
}
